<html lang='en'>
    <head>
        <title>GPIB Controller with Raspberry Pi</title>
        <meta charset='utf-8'>

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"></link> 
        <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
              
        -->
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="styles/multi-select.css")}}">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"></link>
 <link rel="stylesheet" type="text/css" href="../css/multi-select.css">
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="styles/style.css")}}">
        
      <!--FONT_AWESOME-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
              integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <script> 
        
            device_json = JSON.parse('{{devices | tojson}}')
            request_json = JSON.parse('{{reload_content | tojson}}')
            console.log(device_json)
            console.log(request_json)

        </script>

       

       

        
    </head>
    <body>

<div style="position:absolute; left:30%">

<table style="border:1px solid black;">

<tr>
<th>Configured IOCs </th><th>Selected IOC Info</th>
</tr>
<tr style="height:310px">
<td style="border:1px; width:300px; height:300px">

<select multiple style="width:300px; height:300px" name="multi" id="multi" method="GET" ACTION="/">
 {% for object in objects %}
    {% for k, val in object.items() %}       
        <option value="{{val}}" SELECTED>{{val}}</option>"
      {% endfor %}
    {% endfor %}        

</select>





</td><td style="border:1px; width:300px; height:300px">

<table style="border-collapse:seperate; border-spacing: 4em 4em;">
<tr id="name"></tr>
<tr id="address"></tr>
<tr id="pvname"></tr>

<tr><td><div class='card-footer text-center' style="padding-right:0; padding-left:0">
                        <form method='post' name='list' style="margin-bottom: 0rem">
                            <button class='btn btn-info' onclick="start_loading_animation(this)">
                               Stop
                            </button>
                        </form>
                    </div>
    <td> <div class='card-footer text-center' style="padding-right:0; padding-left:0">
                        <form method='post' name='list' style="margin-bottom: 0rem">
                            <button class='btn btn-info' onclick="start_loading_animation(this)">
                                Remove
                            </button>
                        </form>
                    </div>
    </td>
</tr>                    
</table>

</td></tr>


<tr>
<td >
<p><b>Templates</b></p>
{% if objects %}
  <table class='display'>
  <tr>

   <select style="width:300px; height:200px" multiple name="multi" id="multi" method="GET" ACTION="/">
 {% for object in objects_templates %}     
        {% for k, val in object.items() %}
       
   <option id="{{val}}" value="{{val}}" SELECTED>{{val}}</option>"  
      {% endfor %}
    
    {% endfor %}    


</select>
</tr>
  
  </table>
{% endif %}





</td><td>
<div class='card-footer text-center' style="padding-right:0; padding-left:0">
                        <form method='post' name='list' style="margin-bottom: 0rem">
                            <button class='btn btn-info' onclick="start_loading_animation(this)">
                               New
                            </button>
                        </form>
                    </div>

</td>
</tr>





<tr>
<td style="border:1px solid black;">

<table>
<b>Adding new devices</b>
 <br/>

                        <hr style="margin-top: 0.5rem; margin-bottom: 0rem">  

                        <label for="device_name">Device Name: </label>
                        <input type="text" id="newdev" name="newdev" value="newdev">
                
                   


<form class="form-inline" method="POST" action="{{ url_for('configure')}}">
  <div class="form-group">
    <div class="input-group">
    
        <span class="input-group-addon">Please select GPIB Address</span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.address }}">{{ o.address }}</option>
              {% endfor %}
            </select>
    </div>

</div>
<div class="input-text">
<label for="pvname">PV Name: </label>
<input type="text" id="pv_name" name="pv_name" value="iocgpib">



</div>


<button type="submit" class="btn btn-default" name="action" value="getAddress">Configure</button>
  </div>
</form>


     </div>
     </table>



</td><td style="border:1px solid black;">Info2</td>
</tr>
</table>

</div>

            


        <!--js for bootstrap-->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script src="../js/jquery.multi-select.js"></script>
<scrpt src="{{url_for("static", filename="js/jquery.multi-select.js")}}"></script>
<script>
$(document).ready(function(){
    $('select').on('change', function (e){

    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    var myElement = $("test");
    var myText = optionSelected.text();
    $("#name").text("name:" + myText);
     $("#address").text("GPIBaddress:" + 19);
    
    $("#pvname").text("EPICSPVname:" + "iocgpib");
    });
    });


</script>
        

        <!-- using it online
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        -->
        <script src="../static/bootstrap/js/jquery.min.js"></script> 
        <script src="../static/bootstrap/js/popper.min.js"></script> 
        <script src="../static/bootstrap/js/bootstrap.min.js"></script> 

        <script src="../static/JavaScript.js"></script>
          <script src="../js/jquery.multi-select.js"></script>

        
    </body>
</html>
